= hidden_field_tag :feed_id, @account.id
= hidden_field_tag :feed_name, @account.name

#feed_container
	#feed_header
		#feed_image
			= image_tag('https://twimg0-a.akamaihd.net/profile_images/2320273913/31e2wgbkv1v5d1qdx23j.jpeg')
		#feed_description
			This is a feed about biology. Check it ouuuuuuut.
		#feed_stats
	#feed_content
		- @posts.each do |post|
			.post
				.header
					%p.bot_name= "#{@account.name}:"				
					.question
						%p= post.text
				.answers
					- post.question.answers.each do |answer|
						.answer{:class => ("correct" if answer.correct)}
							= answer.text
		#show_more
			Show More
			/ %a{:href => "/feeds/#{@account.id}/more", :remote => true} Show more posts
		/ #show_more
		/ 	Show more posts

#post_template
	.header
		%p.bot_name QuizMeBot
		.question
			%p Oops!
	.answers