!!!
%html
	%head
		%title Quiz Me Manager
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
		= csrf_meta_tags
	%body
		=render 'layouts/header'
		.container
			= yield
		/ =render 'layouts/footer'