-@account.posts.each do |p|
  -next if p.mentions.unanswered.empty?
  .row.well{'p_id' => p.id}
    .span11
      %h3{:style=>'text-align:center;'}= p.text
    .span11
      %h1{:style=>'text-align:center;'}= p.question.answer if p.question
    -p.mentions.unanswered.each do |m|
      .well.span5{'m_id' => m.id}
        .span4
          %h5= "@#{m.user.twi_screen_name}" if m.user
          %h3= raw m.text
        .span4
          %button.btn.btn-success{'m_id' => m.id} Correct
          %button.btn.btn-danger{'m_id' => m.id} Incorrect
          %button.btn.btn-warning{'m_id' => m.id} Skip